<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<style>
    .error {
        color: red;
    }
</style>
<body>
<h2>UPDATE USER</h2>
<br>

<form th:action="@{/admin/updateUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" name="_method" value="PATCH">
    <label>Username:</label>
    <input type="text" th:field="*{username}"/>
    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Leave blank to keep it as is.">
    </div>
    </div>
    <label>Email:</label>
    <input type="text" th:field="*{email}"/>
    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label>Roles:</label>
    <div th:each="role : ${allRoles}">
        <input type="checkbox" th:value="${role.id}" th:field="*{roles}" />
        <span th:text="${role.name}"></span>
    </div>
    <div class="error" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
    <br>
    <input type="submit" value="OK">
    <input type="button" value="CANCEL" onclick="window.location.href='cancel'"/>
</form>
</body>
</html>
